/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 02-sep-2014, 23:43:00
    Author     : pablo
*/

body {
    top: 0px;
    font-size:0.6em;
    //background: url(../resources/images/ffff.jpg);
    background-color:#f8f8f8;
    font-weight:normal;
    margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px ;
    font-family: Verdana, Geneva, sans-serif;
    // font-family:"Cambria Math"

}
.panelRedSocial{
    background-color: #ff1721;
    height: 40px;
    margin-top: -10px;

}
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.social_icons {
    overflow: hidden;
    padding: 5px;
    margin-left: 600px;
    list-style: none;
    white-space: nowrap;

    z-index: 10;
}
.social_icons > li {
    float: left;
    cursor: pointer;
    width: 32px;
    height: 31px;
    overflow: hidden;
    margin-right: 14px;
}
.social_icons > li a {
    width: 32px;
    height: 31px;
    overflow: hidden;
}
.social_icons > li a img {
    position: relative;
    top: 0;
}
.social_icons > li a:hover img {
    position: relative;
    top: -31px;
}

.panelBanner {
    top: 0px;
    margin-left: 10%;
    width: 60%;
    height: 140px;
    display: block;

}
.panelLogin{
    position:absolute;
    margin-left: 70%;
    top: 0px;
    width: 20%;
    height: 115px;
    border: none;

}
.panelLogin.ui-panel, .panelLogin.ui-panel-content {

    border-color:#d4d4fc;
    border-style: dotted;
}
.encabezadosDialog{
    font-size:  medium;
    font-weight:  bold;
    font-size: 12px;
}
.panelInformacion{
    height: 200px;
    width: 80%;
    margin: 0 auto 0 auto;
}
.panelInformacion.ui-panel, .panelInformacion.ui-panel-content {

}
.panelBarra{
    margin-top: 5px;
    height: 50px;

}
.butonBarra{
    margin-top: 0;
    height: 50px;
    width: 150px!important;
}
.butonBarra .ui-icon{
    width: 20px;
    height: 20px;
    margin: 0 auto;
}
.butonBarra.ui-panel{
    background-color: #cc0000;
}
.imagenLogin{
    width: 70px;
    height: 80px;
    border-radius:10px;
    border-color: #000000;

}

.panelInformacionContalcto {
    height: 60px;
    background-color: #b5b5b5;
    clear: both;
    overflow: hidden;
}
.panelFormulario{
    width: 80%;
    margin-left: 10%; margin-top: 0px; 
    border: 1px;
    border-style: dotted;
    border-top-width: 0px; border-top-left-radius: 5px; border-top-right-radius: 5px;
    border-color: #9999ff;
    background-color: #ffffff;
}
.panelTitulo{
    background-color:#ececec;
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 5px;
    height: 20px;
    font-family: Arial;
    text-align: center;
    color:#cc0000;
    margin:10px auto 10px auto;
    padding-top: 5px;

}
.column1Class,.column3Class{
    font-family: Verdana, Geneva, sans-serif;
    text-align: right;
    font-weight: bold;
    color: #cc0000;
    width: 250px;
}
.column1ClassPerfil,.column3ClassPerfil{
    font-family: Verdana, Geneva, sans-serif;
    text-align: right;
    font-weight: bold;
    color:#0066ff;
    width: 250px;
}
.column1ClassAzquierda{
    font-family: Verdana, Geneva, sans-serif;
    text-align:right;
    font-size: 0.9em;
    font-weight: bold;
    color: #cc0000;
    width: 250px; 

}
.column2Class,.column4Class{
    width: 230px;
}
.column2ClassPerfil,.column4ClassPerfil{
    width: 230px;
}
.inputText{
    width: 230px;
    height: 15px;
    text-transform: uppercase;
}

.ui-widget-header{
    background:#ffffff!important;   
}
.ui-shadow{
    box-shadow:none;
}

.ui-dialog-content{
    background-color:#eaf2f3!important; 
}
.link{
    color: #6666ff;
    font-size: 1.0em;
}
.linkBuscaTrabajo{
    display: block;
    background-color: #ffffff!important;
}
.linkBuscaTrabajo:hover{
    display: block;
    background-color:#ececec!important; 
}
.dialogo .ui-dialog{
    font-size: 3.0em;   
    font-family: serif!important; 
}
.dialogo .ui-dialog-titlebar{

}
.dialogo .ui-dialog-content{
    background-color: #ffffff!important; 
}

div.menu2
{
    /*width:500px;margin:0 auto;*//*Uncomment this line to make the menu center-aligned.*/
    text-align:center;
    width: 80%;
    margin-top: 10px;
    margin: auto;
    margin-bottom: 5px;
    background-image: url(../resources/images/bg1.gif);

    border:0px solid black;
    font-size:0;
}

div.menu2 a
{
    display: inline-block;
    padding: 0 20px;
    background-image: url(../resources/images/bg.gif);
    color:White;
    text-decoration:none;
    font: bold 12px Arial;
    line-height: 50px;
}

div.menu2 a:hover, div.menu2 a.current
{
    background-position:0 -60px;
}

div.menu2 a.dummy
{
    width:2px;
    padding:0 0;
}


.customDialog {
    background:#eee!important;
}

.ui-dialog.customDialog .ui-dialog-content {
    padding: 0;
    margin: 3px 3px;
    background:white!important;
    font-size: 1.3em!important;
    font-family: Verdana, Geneva, sans-serif;
}
.ui-dialog .ui-dialog-titlebar{
    font-size: 1.9em!important; 
}

.ui-dialog-titlebar.customDialog {
    background: green!important;
    color: black;
    font-size: 1.9em!important;
    box-shadow: none;
}
.centered  {

    text-align:left;

    width: 65%;
}


.left {
    float: left; 

}
.rig {
    vertical-align:auto;
    float: right; 
    width: 120%;
    height: 130px;
    border-radius: 1px;
    border-color: #cc0000;

}
.nombre{
    text-align:right; 
    color:#cc0000;
    font-size: 1.0em;
}
.res{
    text-align:left;
}
.button { /* clase general */
    border: 1px solid #dedede;
    border-radius: 3px;
    width: 100%;
    color: #555;

    display: inline-block;
    font: bold 12px/12px HelveticaNeue, Arial;
    padding: 8px 11px;
    text-decoration: none;
}


