/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-mar-2014, 10:43:58
    Author     : vicastoc
*/
.ui-icon{
    width: 20px;
}
.ui-icon.ui-icon-buscar{
background-image:url(../resources/images/buscar.png)!important;
}

.ui-icon.ui-icon-nuevo{
background-image:url(../resources/images/nuevo.png)!important;
}

.ui-icon.ui-icon-editar{
background-image:url(../resources/images/editar.png)!important;
}

.ui-icon.ui-icon-eliminar{
background-image:url(../resources/images/eliminar.png)!important;
}

.ui-icon.ui-icon-imprimir{
background-image:url(../resources/images/imprimir.png)!important;
}

.ui-icon.ui-icon-inicio{
background-image:url(../resources/images/inicio.png)!important;
}

.ui-icon.ui-icon-ejecutarConsulta{
background-image:url(../resources/images/ejecutarConsulta.png)!important;
}


